/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 display:inline-block;
 padding-top: 15px;
 padding-left: 15px;
}
#header{
    min-height: 150px;
    background-color: green;
}
#navigation{
 min-height: 300px;
 width: 200px;
 background-color: blue;
  display:inline-block;
  margin-top: 10px;
  margin-bottom: 59px;
}
#main_content{
 min-height: 400px;
 width: 700px;
 background-color: red;
 display:inline-block;
 margin-top: 20px;
 margin-left: 20px;
 margin-bottom: 10px;
 padding-top: 15px;
 padding-left: 15px;
}
.subcontents{
 min-height: 200px;
 width: 210px;
 background-color: yellow;
 display:inline-block;
 margin-right: 7px;
 margin-bottom: 20px;
}
#advertisement{
 min-height: 120px;
 width: 660px;
 background-color: purple;
 display:inline-block;
}
