/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
h1{
    max-width: 950px;
    height:50px;
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: 10px;
    color: #9999FF;
    background-color: red;
    margin-bottom: 20px;
}
h2{
    color: #99FFFF;
}
.wall{
    width: 970px;
    height:980px;
    background-color: #000066;
    padding-top: 10px;
    padding-right: 10px;
}
.left_center_box{
    line-height:20px;
    width: 175px;
    height: 250px;
    border-radius: 15px;
    padding-left: 40px;
    padding-top: 20px;
    margin-left: 12px;
    margin-right: 20px;
    margin-top: 10px;
    color: #66FFFF;
    background-color: #00CCCC;
    display:inline-block;
}
.right_center_box{
    position: absolute;
    line-height:20px;
    width: 680px;
    height: 760px;
    border-radius: 15px;
    color: #CCFFFF;
    background-color: black;
    margin-top: 10px;
    display:inline-block;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.home{
    margin-left: -20px;
}
.list2{
    margin-left: 20px;
}
.list_balck_box{
    margin-left: 20px
}
.key_word{
    color: #66FFFF;
    margin-bottom: 30px;
}
.bottom_box{
    line-height:20px;
    width: 940px;
    height: 40px;
    border-radius: 20px;
    margin-top: 540px;
    margin-left: 10px;
    padding-top: 20px;
    padding-left: 20px;
    color: #CCFFFF;
    background-color: gray;
}
